html, body
  height: 100%
  margin: 0
  padding: 0

body
  background: asset_url('natopimdom_bg.jpg') top center no-repeat
  color: #222
  font-family: 'trebuchet ms', arial, verdana, tahoma, sans-serif
  font-size: 13px


div.container
  margin: 0 auto
  width: 87%

#main_container
  margin: 0 auto
  min-height: 100%
  position: relative
  width: 960px
  .container_border
    background-color: rgba(255,255,255,0.8)
    padding-bottom: 60px

    .left_main_column
      color: #fff
      float: left
      width: 190px

      a.logo
        background-color: #c3270b
        color: #fff
        display: block
        height: 244px
        outline: none
        padding: 10px
        &:hover
          border: none
        img
          border: none
      ul.menu-left
        background-color: #c3270b
        border-radius: 0 0 7px 7px
        list-style: none
        margin: 0
        padding: 0 0 10px 0

        a
          border-bottom: 1px dotted #ECB577
          color: #ECB577
          display: block
          font-size: 14px
          font-weight: bold
          text-shadow: -1px -1px 1px #961101
          padding: 5px 5px 5px 10px
          &:hover
            background-color: #de290e
            border-bottom: 1px dotted #ECB577
            color: #fff
          &.active
            background-color: #a41100
            border-bottom: 1px dotted #ECB577
            color: #fff

    .right_main_column
      float: left
      width: 770px

      .content
        padding-left: 20px

        .quot_block
          padding-top: 20px
          .quot_text
            background: asset_url('quot_start.png') left 3px no-repeat, asset_url('quot_end.png') right bottom no-repeat
            color: black
            display: inline-block
            font-size: 13px
            font-style: italic
            line-height: 19px
            padding: 0 0 25px 35px
            margin-right: 25px
            vertical-align: top
            width: 460px - 35px - 25px
          .quot_image
            display: inline-block
            text-align: right
            vertical-align: top
            width: 270px
        h1
          border-bottom: 1px dotted #CF512C
          color: #281A17
          font-size: 30px
          font-style: italic
          padding-bottom: 5px
    .clear_fix
      clear:  both
#header
  background-color: #c3270b // for test, overwrite in inherited file
  border-radius: 0 0 10px 0
  box-shadow: inset -5px -5px 5px rgba(0,0,0, 0.1)
  color: #fff
  height: 70px
  width: 100%

  .block_2
    display: inline-block
    font-size: 18px
    line-height: 25px
    padding: 0px 0 5px 500px
    vertical-align: top
    text-align: right

    span.title
      font-size: 14px


#footer_spacer
  padding-top: 80px

#footer
  background-color: rgba(0,0,0,0.8) // for test, overwrite in inherited file
  bottom: 0
  box-sizing: border-box
  height: 30px // footer height, overwrite in inherited file
  position: absolute
  width: 100%

  .header
    margin: 30px 0 5px
  ul
    line-height: 24px
    list-style: none
    margin: 0
    padding: 0

  .footer_back_line
    background-color: rgba(0,0,0, 0.3)
    bottom: 0
    border-radius: 8px 8px 0 0
    padding-top: 8px
    position: absolute
    width: 100%

  .copyright
    color: #888888
    box-sizing: border-box
    padding: 0 0px 10px 10px
    position: absolute
    text-align: left
    bottom: 0
    width: 100%

    .design
      color: #888
      position: absolute
      right: 10px
      bottom: 10px

a
  color: #888888
  text-decoration: none
  &:hover,
  &:visited:hover
    border-bottom: 1px dotted #888888

img
  max-width: 100%
  max-height: 100%

table
  border-collapse: collapse
  thead
    th
      background-color: #F6F6D5
      border: 1px solid #C8C7C7
      color: #A41100
      padding: 3px 5px
  tbody
    td
      border: 1px solid #C8C7C7
      padding: 3px 5px
    td
      &.light
        background-color: #FFFF9A
      &.center
        text-align: center


// --------------- HELPERS ---------------

.text-center
  text-align: center

.block-center
  display: block
  margin: auto

.pull-left
  float: left

.pull-right
  float: right

// --------------- END HELPERS ---------------