html, body
  height: 100%
  margin: 0
  padding: 0

body
  background: asset_url('background.jpg') 0 0 repeat
  color: #222
  font-family: 'trebuchet ms', arial, verdana, tahoma, sans-serif
  font-size: 13px


div.container
  margin: 0 auto
  width: 87%

#main_container
  background-color: #fff
  margin: 0 auto
  min-height: 100%
  position: relative
  width: 960px
  .container_border
    padding: 0 10px

    .left_main_column
      color: #fff
      float: left
      width: 190px

      a.logo
        background-color: #c3270b
        color: #fff
        display: block
        height: 244px
        width: 190px
        &:hover
          border-color: transparent
      ul.menu-left
        background-color: #c3270b
        border-radius: 0 0 7px 7px
        list-style: none
        margin: 0
        padding: 0 0 10px 0
        li
          border-bottom: 1px dotted #ECB577

        a
          color: #ECB577
          display: block
          font-size: 14px
          font-weight: bold
          text-shadow: -1px -1px 1px #961101
          padding: 5px 5px 5px 10px
          &:hover
            background-color: #de290e
            border-bottom-color: transparent
            color: #fff
          &.active
            background-color: #a41100
            color: #fff

    .right_main_column
      float: left
      width: 750px

      .content
        padding-left: 20px
    .clear_fix
      clear:  both
#header
  background-color: #c3270b // for test, overwrite in inherited file
  border-radius: 0 0 10px 0
  box-shadow: inset -5px -5px 5px rgba(0,0,0, 0.1)
  color: #fff
  height: 70px
  width: 100%

  .block_2
    display: inline-block
    font-size: 18px
    line-height: 28px
    padding-top: 5px
    vertical-align: top
    width: 220px

    span.title
      font-size: 14px


#footer_spacer
  padding-top: 60px

#footer
  background-color: #fff // for test, overwrite in inherited file
  bottom: 0
  box-sizing: border-box
  height: 40px // footer height, overwrite in inherited file
  position: absolute
  width: 100%

  .header
    margin: 30px 0 5px
  ul
    line-height: 24px
    list-style: none
    margin: 0
    padding: 0

  .copyright
    box-sizing: border-box
    padding-bottom: 10px
    position: absolute
    text-align: center
    bottom: 0
    width: 100%

a
  border-bottom: 1px solid transparent
  text-decoration: none
  &:hover
    border-bottom-color: #0000ff


// --------------- HELPERS ---------------

.text-center
  text-align: center

.block-center
  display: block
  margin: auto

.pull-left
  float: left

.pull-right
  float: right

// --------------- END HELPERS ---------------