
@font-face {
    font-family: 'zopacyr';
    src: asset_url('fonts/zopa.eot');
    src: asset_url('fonts/zopa.eot?#iefix') format('embedded-opentype'),
      asset_url('fonts/zopa.woff') format('woff'),
      asset_url('fonts/zopa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}